@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  background: #f3f5fc;
}
.grid-container > * {
  /* box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75); */
  border-radius: 4px;
  padding: 2%;
}

.left-content {
  grid-area: left-content;
  /* background-color: red; */
}
.logo {
  display: flex;
  /* background: aqua; */
}
.logoImg {
  margin-left: 5%;
 
  /* background: gold; */
}
.title {
  margin-left: 30%;
  /* background: gold; */
  margin-top: 15px;

}

.content {
  /* background: blue; */
  margin-top: 1%;
  height: auto;
}
.text-Input {
  margin-left: 16%;
  margin-top: 2%;
  width: 75%;
  height: 424px;
  color: #0a3871;
  font-size: 24px;
  border: none;
  outline: none;
  background: #f3f5fc;
  resize: none;
  overflow: auto;
}
.text-Input::-webkit-scrollbar {
  -webkit-appearance: none;
}

.text-Input::-webkit-scrollbar:vertical {
  width: 10px;
}

.text-Input::-webkit-scrollbar-button:increment,
.text-Input::-webkit-scrollbar-button {
  display: none;
}

.text-Input::-webkit-scrollbar:horizontal {
  height: 10px;
}

.text-Input::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.text-Input::-webkit-scrollbar-track {
  border-radius: 10px;
}
textarea::placeholder {
  color: #0a3871;
}
.text-desc {
  margin-left: 16%;
  /* background: blueviolet; */
  font-size: small;
  margin-top: 12px;
}
.left-buttom {
  /* background: green; */
  display: flex;
  justify-content: center;
}
#btn-encriptar {
  background-color: #0a3777;
  border-radius: 28px;
  border: 1px solid #0a3777;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  padding: 15px 87px;
}
#btn-encriptar:hover {
  background-color: #205799;
}
#btn-encriptar:active {
  position: relative;
  top: 4px;
}
#btn-desencriptar {
  border-radius: 28px;
  border: 1px solid #0a3871;
  display: inline-block;
  cursor: pointer;
  color: #0a3871;
  font-size: 14px;
  padding: 15px 87px;
}
#btn-desencriptar:hover {
  background-color: #b3cae6;
}
#btn-desencriptar:active {
  position: relative;
  top: 4px;
}

.right-content {
  grid-area: right-content;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
}

.c-right {
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  /* background-color: darkslateblue; */
  height: 624px;
  width: 95%;
}
#Img-right {
  margin-top: 40%;
  margin-left: 15%;
  width: 65%;

  display: inline;
  /* visibility: hidden; */
}
#text {
  font-weight: 700;
  font-size: x-large;
  text-align: center;
  display: block;
}
#text2 {
  margin-left: 6%;
  color: #0a3871;
  width: 89%;
  height: auto;
  border: none;
  outline: none;
  font-size: 15px;
  overflow: auto;
  resize: none;
  font-size: 19px;
}
#text2::-webkit-scrollbar {
  -webkit-appearance: none;
}

#text2::-webkit-scrollbar:vertical {
  width: 10px;
}

#text2::-webkit-scrollbar-button:increment,
#text2::-webkit-scrollbar-button {
  display: none;
}

#text2::-webkit-scrollbar:horizontal {
  height: 10px;
}

#text2::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.text-Input::-webkit-scrollbar-track {
  border-radius: 10px;
}

.right-content textarea::placeholder {
  color: #0a3871;
  text-align: center;
  font-size: 14px;
}
.btn-copy {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  } 

#btn-copiar {
  background-color: #d8dfe8;
  border-radius: 28px;
  border: 1px solid #d8dfe8;
  cursor: pointer;
  border: 1px solid #0a3871;
  color: #0a3871;
  font-size: 14px;
  padding: 15px 87px;
  display: none;
}

#btn-copiar:hover {
  background-color: #cdd6e1;
}
#btn-copiar:active {
  position: relative;
  top: 4px;
}

#validar{
  margin-left: 150px;
  font-style: italic;
  font-size: x-small;
  color: red;
  display: none;
}
/* .footer {
  grid-area: footer;
  background-color: fuchsia;
} */

@media (max-width: 768px) {
  /* Modo mobile */
  .grid-container {
    display: grid;
    gap: 5px;
    grid-template:
      "left-content" 660px
      "right-content" auto
      "footer" auto;
  }
  
  .btn-copy{
    margin-bottom: 18px;
  }
  .text-Input {
    margin-top: 48px;
    height: 404px;
  }
  .c-right {
    /* background-color: darkslateblue; */
    border-radius: 28px;
    height: auto;
  }
  #Img-right {
    display: none;
    /* visibility: hidden; */
  }
  .left-buttom {
    /* background: rgb(128, 0, 126); */
    display: flex;
    flex-direction: column;
  }
  
  #btn-desencriptar {
    margin-top: 9px;
  }
  #btn-encriptar {
    margin-top: 5px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  /* Modo Table */
  .grid-container {
    display: grid;
    gap: 10px;
    grid-template:
      "left-content" 620px
      "right-content" auto
      "footer" auto;
  }
  .btn-copy{
    margin-bottom: 18px;
  }

  .c-right {
    /* background-color: rgb(139, 109, 61); */
    border-radius: 28px;
    width: 100%;
    height: auto;
  }
  .left-buttom {
    margin-top: 12px;
  }
  #Img-right {
    display: none;
    /* visibility: hidden; */
  }

  #btn-encriptar {
    margin-right: 3%;
  }

  #btn-desencriptar {
    margin-left: 3%;
  }
}
@media (min-width: 1200px) {
  /* Modo desktop */
  .grid-container {
    display: grid;
    gap: 7px;
    grid-template:
      "left-content  left-content right-content" 640px
      "footer footer footer" /599px 400px;
  }
 
  
  #text2 {
    margin-top: 5px;
  }
  .text {
    margin-top: 2%;
  }
  .left-buttom {
    /* background: green; */
    margin-top: 9px;
    display: flex;
    justify-content: center;
  }
  #btn-encriptar {
    margin-right: 3%;
  }

  #btn-desencriptar {
    margin-left: 3%;
  }
}